/* styles.css (o el nombre que prefieras) */

body {
    font-family: 'Arial', sans-serif;
    background-color: wheat; /* Cambia el color de fondo según tus preferencias */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
  }
  
  section {
    margin: 20px;
    text-align: center;
  }
  
  p {
    color: #333;
    font-size: 18px; /* Ajusta el tamaño del texto según tus preferencias */
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 12px 20px; /* Ajusta el tamaño del botón según tus preferencias */
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  img {
    width: 150px; /* Ajusta el ancho de la imagen según tus preferencias */
    height: 150px; /* Ajusta la altura de la imagen según tus preferencias */
    cursor: pointer;
  }
  
  footer {
    background-color: #333;
    color: #fff; /* Cambia el color del texto a blanco */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  footer p{
    color: white;
  }
  
  /* Agrega más estilos según tus necesidades */
  